@charset "UTF-8";
@import url("normalize.css");

.conatents {
  position: relative;
}

h3 {
  text-align: center;
} 

.time_contents {
  width: 320px;
  display: flex;
  /* margin: auto; */
  /* margin-left: auto; */

  margin-left: auto;
  margin-right: auto;
}
.time_contents input {
  display: none;
}

/* ☝将来的にはクリックされたら色が変わるなどして視認性をあげたい */

.time_select {
 height:60px;
 width:60px;
 font-size: 30px;
 border-radius:50%;
 line-height:60px;
 text-align:center;
 background-color: skyblue;
 margin: 0 10px;
}


.friend_select {
  width: 240px;
  height: 420px;
  overflow-y: scroll;
  display: flex;

  margin-left: auto;
  margin-right: auto;

  /* height: 150px; */
  overflow-y: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
}
.friend_select::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}

/* .container {
  height: 150px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.container::-webkit-scrollbar {
  display:none;
} */


.pic {

  width: 240px;
  height: 210px;
  /* background: pink; */
  /* width: 80px; */
  text-align: center;
  margin: 5px 10px;
  }
  
.pic img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.select_ok {
  position: absolute;
  bottom: 80px;
  /* display: inline-block; */
  /* margin-left: auto;
  margin-right: auto; */
  /* left: calc(50% - 55px); */
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #ff7c5c;/*左線*/
  color: #ff7c5c;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  
}
.select_ok a {
  width: 56px;
}
.select_ok:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}